*{
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------------  */
                        /* working on grid header */
.container-grid{        
    display: grid;
    min-height: 150px;
    height:10vh;
    grid-template-columns: 50% 50%;         
    grid-template-rows: 50% 50%;
    grid-template-areas:"con-div1 con-div2";
    align-items: end;
    justify-content: right;

}
.con-div1{
    grid-area: con-div1;
}
.con-div2{
    grid-area: con-div2;    
}

/* working with header title */
.con-div1 h1{
    padding: 10px;
    width: fit-content;
    margin-left: 10px;
    background-color: rgba(69, 189, 222, 0.8);
}

/* working with navigation bar */
.con-div2 ul{
    text-decoration: none;
}
.con-div1 a{
    text-decoration: none;
}
.con-div2 li{
    text-decoration: solid;
    display: inline;
    padding: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 5px solid black;
    
}
.con-div2 a{
    text-decoration: none;
    color: black;
}
/* --------------------------------------------------------------------------- */
                    /* Working on section after header */

.section-grid{
    display: grid;
    min-height: 250px;
    height:10vh;
    grid-template-columns: 70% 30%; /* two column*/
    grid-template-rows:100%;  /* one row*/
    grid-template-areas:"sec-div1 sec-div2";
    align-items: end;
    justify-items: left;
    background-image: url("../images/02-hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    
}
/* assigning grid areas */
.sec-div1{
    grid-area: sec-div1;
    
}
.sec-div1 img{
    border: 5px solid;
}
.sec-div2{
    grid-area: sec-div2;
}

/* working with image and h1 inside section after header */
.sec-div1 img{
    margin: 20px;
}

.sec-div2 h2{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    background-color: rgba(69, 189, 222, 0.8);
}
/* ----------------------------------------------------------------------------- */
                        /* article grid code starts here */

.art-grid{
    display: grid;
    min-height: 250px;
    height:10vh;
    grid-template-columns: 30% 70%; /* two column*/
    grid-template-rows:100%;  /* one row*/
    grid-template-areas:"art-div1 art-div2";
    align-items: center;
    justify-items: right;
    /* background-color: aqua; */
   
}
.art-div1{
    grid-area: art-div1;
    border-right:2px solid black ;
    

}
.art-div{
    grid-area: art-div1;
    height: 100%;
}

.art-div1 h2{
    margin-right: 20px;
    padding: 50px;
    font-size: 30px;
}
.art-div2 p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 1vw; */
    margin-left: 10px;
}


/* article code ends here */

                                    /* working on main section */
.main-grid{
    display: grid;
    min-height: 800px;
    height:20vh;
    grid-template-columns: 30% 70%; /* two column*/
    grid-template-rows:100%;  /* one row*/
    grid-template-areas:"main-div1 main-div2";
    align-items: center;
    justify-items: right;
    

}
                            /* left sife of main */
.main-div1{
    grid-area: main-div1;
    border-right: 2px solid black;
}
.main-div1 h3{
    margin-right: 20px;
    padding: 50px;
    width: fit-content;
    font-size: 30px;
}

                             /* right side main */
.main-div2{
    grid-area: main-div2;
    /* code for sub parent div main */
    width: 100%;
    display: grid;
    min-height: 800px;
    /* height: 20vh; */
    grid-template-columns: 50% 50%;
    grid-template-rows:500px 50%;
    grid-template-areas: "nested-div1 nested-div1"
                        "nested-div2 nested-div3"
                        "nested-div4 nested-div5";
    /* background-color: dimgrey; */
    grid-gap: 10px;
    margin-left: 10px;
    
}
.nested-div1{
    grid-area: nested-div1;
    background-image: url("../images/horison.png");
    background-size: cover;
    border: 4px solid skyblue;
    opacity: 0.8;
    
}
.nested-div1:hover{
    z-index:10;
    width:1050px;
    height:500px;
    opacity: 1.0;
  }
.nested-div1 a{
    text-decoration: none;
    color: black;
}
.nested-div1 h3{
    padding: 20px;
    background-color: rgba(69, 189, 222, 0.8);
    width: max-content;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}


.nested-div2{
    grid-area: nested-div2;
    background-image: url("../images/portfolio.png");
    background-size: cover;
    border: 4px solid skyblue;
    opacity: 0.8;
}
/* .nested-div2:hover{
    opacity: 1.0;
} */
.nested-div2:hover{
    z-index:10;
    width:520px;
    height:160px;
    opacity: 1.0;
  }
.nested-div2 a{
    text-decoration: none;
    color: black;
}
.nested-div2 h3{
    padding: 20px;
    background-color: rgba(69, 189, 222, 0.8);
    width: max-content;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

.nested-div3{
    grid-area: nested-div3;
    background-image: url("../images/prework.png");
    background-size: cover;
    border: 4px solid skyblue;
    opacity: 0.8;
}
.nested-div3:hover{
    z-index:10;
    width:520px;
    height:160px;
    opacity: 1.0;
  }

.nested-div3 a{
    text-decoration: none;
    color: black;
}
.nested-div3 h3{
    padding: 20px;
    background-color: rgba(69, 189, 222, 0.8);
    width: max-content;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.nested-div4{
    grid-area: nested-div4;
    background-image: url("../images/02-portfolio-3.jpg");
    background-size: cover;
    border: 4px solid skyblue;
    opacity: 0.8;
}
.nested-div4:hover{
    z-index:10;
    width:520px;
    height:160px;
    opacity: 1.0;
  }
.nested-div4 h3{
    padding: 20px;
    background-color: rgba(69, 189, 222, 0.8);
    width: max-content;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.nested-div5{
    grid-area: nested-div5;
    background-image: url("../images/02-run-buddy.jpg");
    background-size: cover;
    border: 4px solid skyblue;
    opacity: 0.8;

}
.nested-div2:hover{
    z-index:10;
    width:520px;
    height:160px;
    opacity: 1.0;
  }
.nested-div5 h3{
    padding: 20px;
    background-color: rgba(69, 189, 222, 0.8);
    width: max-content;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

                    /* FOOTER GRID CODE STARTS HERE */
.footer-grid{
    display: grid;
    min-height: 200px;
    /* height:15vh; */
    grid-template-columns: 30% 70%; /* two column*/
    grid-template-rows:100%;  /* one row*/
    grid-template-areas:"footer-div1 footer-div2";
    align-items: center;
    
    justify-content: center;
        
}
.footer-div1{
    grid-area: footer-div1;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
}
.footer-div1 h1{
    font-size: 30px;
    padding: 20px;
    margin-left: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.footer-div2{
    grid-area: footer-div2;
                                 /* nested grid inside footer */
    width: 100%;
    display: grid;
    min-height: 100px;
    grid-template-columns: 15% 30% 20% 20% 15% ;
    grid-template-rows:100%;
    grid-template-areas: "footer-item1 footer-item2 footer-item3 footer-item4 footer-item5";
    align-items: center;
    justify-content: left;
    grid-gap: 10px;    
    margin-left: 10px;
    

}

.footer-item1{
    grid-area:footer-item1 ;
    border-bottom: 2px solid black;
    

}
.footer-item2{
    grid-area:footer-item2 ;
    border-bottom: 2px solid black;

}
.footer-item3{
    grid-area:footer-item3 ;
    border-bottom: 2px solid black;

}
.footer-item4{
    grid-area:footer-item4 ;
    border-bottom: 2px solid black;

}
.footer-item5{
    grid-area:footer-item5 ;
    border-bottom: 2px solid black;

}



.footer-div2 div{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    
}



/* MEDIA QUERIES  */

@media screen and (max-width:768px) {
                                            /* queries for header */
        .container-grid{
            grid-template-columns: 100%;
            grid-template-rows: 30% 50%;
            grid-template-areas:"con-div1" 
                                "con-div2" ;
                                min-height: 400px;
                                
        }
        .con-div1 h1{
            margin-left: 110px;
        }
        .con-div2 li{
            width: fit-content;
            display: block;
            margin-left: 110px;
            text-align: center;
        }
                                            /* section after header */
        .section-grid{
            grid-template-columns: 100%;
            grid-template-rows: 70% 30%;
            grid-template-areas:"sec-div1" 
                                "sec-div2" ;
                                min-height: 600px;
         
                                
        }
        .sec-div1{
            margin-left: 60px;
        }
        .sec-div2 h2{
            text-align: center;
        }                    
        /* about me section */
        .art-grid{
            grid-template-columns: 100%;
            grid-template-rows: 30% 70%;
            grid-template-areas:"art-div1" 
                                "art-div2" ;
                                min-height: 400px;
         
                                
        }
        .art-div1 h2{
            margin-right: 60px;
            border-right:0px ;
            margin-bottom:30px ;
            border-bottom: 5px solid;
        }
        .art-div2 p{
            text-align: center;
        }
                    /* work section media queries */
        .main-grid{
            grid-template-columns: 100%;
            grid-template-rows: 20% 80%;
            grid-template-areas:"main-div1" 
                                "main-div2" ;
                                min-height: 720px;
                                align-items: center;
                                justify-items: center;
                                             border-right: none;

                                
        }
        .main-div1{
            border-right: none;
            border-bottom: 5px solid black;

        }
        .main-div2{
            grid-template-columns: 100%;
            grid-template-rows: 20%  20% 20% 20% 20% ;
            grid-template-areas:"nested-div1" 
                                "nested-div2"
                                "nested-div3"
                                "nested-div4"
                                "nested-div5" ;
                                min-height: 100%;
        }
        /* contact me section media queries */
        .footer-grid{
            grid-template-columns: 100%;
            grid-template-rows: 40% 60%;
            grid-template-areas:"footer-div1" 
                                "footer-div2" ;
                                min-height: 400px;
        }
        .footer-div2{
            
            grid-template-columns: 100%;
            grid-template-rows: 20%  20% 20% 20% 20% ;
            grid-template-areas:"footer-item1" 
                                "footer-item2"
                                "footer-item3"
                                "footer-item4"
                                "footer-item5" ;
                                min-height: 100%;
                                align-items: center;
            justify-content: center;
        }
        .footer-div1{
           margin-left: 50px;
        }
        .footer-div1 h1{
            margin-left: 10px;
            border-bottom: 5px solid black;
            width: fit-content;
        }
        .footer-div2 h3{
            border-bottom: none;
            margin-left: 50px;
            border-bottom: 2px solid black;

        }
        
        
        .footer-item1, .footer-item2, .footer-item3,.footer-item4,.footer-item5{
            width: fit-content;
            border-bottom: none;
            /* margin-left: 150px; */

            
        }
        
}











