

.container-grid{
    display: grid;
    /* grid-template-columns:200px 200px 200px ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: " led led led"
                        "cal puzzle buddy"; */
    /* grid-template-columns:500px 500px ;
    grid-template-rows: 550px 1fr; */

                /* 2 column size */
    grid-template-columns:500px 500px ; 
                /* 3 row size */
    grid-template-rows: 400px 200px 200px;
    grid-gap: 10px;
}
.led{
    grid-row: 1/2;
    grid-column: 1/3;
    background-image: url("../images/horison.png");
    /* background-color: blue; */
}
.cal{
    grid-row-start:3;
    grid-row-end: 2;
    background-image: url(../images/horison.png);
}
.cal h1{
    background-color: rgb(255,255,255,0.2);
}
.led h1{
    background-color: rgb(255,255,255,0.2);

}
 .puzzle{
    background-image: url("../images/horison.png") ;
}
.puzzle h1{
    background-color: rgb(255,255,255,0.2);

}
.buddy{
    background-image: url(../images/horison.png);
}
.buddy h1{
    background-color: rgb(255,255,255,0.2);

}

.hug{
    background-image: url("../images/horison.png");
} 
.hug h1{
    background-color: rgb(255,255,255,0.2);
   
}


/* TOP header section code starts here */
.parent-section{
    display: flex;
    height: 200px;
    width: 100%;
    /* background-color: aqua; */
}
.parent-section1{
    display: flex;
    height: 250px;
    width: 100%;
    /* background-color: aqua; */
}
.parent-section2{
    display: flex;
    height: 550px;
    width: 100%;
    /* background-color: aqua; */
}
.child-section6{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 800px;
    border-right: 6px solid black;
}
.child-section6 h1{
    font-family: 'Courier New', Courier, monospace;
}
.child-section7{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    height: 800px;

}
.child-section8{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    height: 200px;
    /* background-color: aqua; */

}
.child-section8 ul{
    text-decoration: none;
}
.child-section8 li{
    display: inline;
    padding: 10px;
    align-items: center;justify-content: center;
    border-bottom: 5px solid black;
    margin-left: 50px;
}
.child-section8 a{
    font-family: 'Courier New', Courier, monospace;
}












.child-section1{
    justify-content: center;    
    width: 30%;
    display: flex;
    align-items: end;
}
.child-section2{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 70%;

}
.child-section2 a{
    text-decoration: none;
}
.child-section3{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 230px;
    background-image: url(../images/background-section2.jpg);
}
.child-section3 img{
    margin-left: 20px;
    margin-top: 15px;
}

.child-section4{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
    height: 250px;
}
.child-section5{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 90%;
    height: 250px;
}
/* ------------------------------------ */

.parent-section2{
    display: flex;
    height: 800px;
    width: 100%;
    /* background-color: rgb(93, 96, 96); */
}


/* ------------------------------ */
.child-section4 h1{
    padding: 80px;
    border-right: 5px solid black;
    font-family: 'Courier New', Courier, monospace;
}
.child-section5 h1{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

.child-section1 h1{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
    align-items:flex-end;
    padding: 20px;
    background-image: url(../images/background-section2.jpg);

}

.nav{
    text-decoration: none;
    
}
.nav li{
    display: inline;
    padding: 10px;
    border-bottom: 4px solid black;
    margin-right: 30px;
    
    
}
.nav li a{
    font-family: 'Courier New', Courier, monospace;
}
.child-section3 h1{
    font-family: 'Courier New', Courier, monospace;
    margin-right: 30px;
}

/* header section code ends here */


